body{
    height: 100%;
    width: 100%;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ghostwhite;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    height: 250px;
    background-color: lightgray;
    padding: 50px;
    border-radius: 20px;
    align-items: center;
}

input{
    border-radius: 9px;
    padding: 5px;
    text-align: center;
    width: 230px;
    font-family: emoji;
    border: 1px solid #ccc;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}


button{
    border-radius: 9px;
    height: 30px;
    width: 90px;
    border: none;
    background-color: gray;
    font-family: cursive;
    color:gray;
    cursor: pointer;
    color: black;
}

.buttoneffect:hover{
    background-color: bisque;
}

.effectinput:hover{
    background-color: bisque;    
}

.card{
        width: 75px;
        height: 75px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        

    };
        















