* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 60%;
  align-items: center;
  padding: 10px;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #c1c1c1;
  width: 75%;
  height: 90%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
}

input {
  border-radius: 20px;
  height: 10%;
  width: 90%;
  padding: 10px;
  text-align: center;
}
input:hover,
input:focus {
  background-color: cornsilk;
  color: black;
}

::placeholder {
  color: darkgray;
}

div {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  color: white;
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 20%;
  overflow: hidden;
  min-width: 39px;
  min-height: 37px;
}

.enviar {
  background-color: cadetblue;
  cursor: pointer;
}
.button_ativo {
  opacity: 0.5;
}

.cancelar {
  background-color: red;
  cursor: pointer;
}

textarea {
  resize: none;
  height: 50%;
  width: 75%;
  padding: 30px;
  border-radius: 15px;
  text-align: left;
}
textarea:hover {
  background-color: cornsilk;
}

textarea::-webkit-scrollbar {
  border-radius: 15px;
}

@media (max-width: 600px) {
  .enviar::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  .cancelar::before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  .enviar,
  .cancelar {
    padding: 10px;
    font-size: 0;
  }

  .enviar::before,
  .cancelar::before {
    font-size: 16px;
  }
}
